.title {
  position: relative;
  /*left: calc(50%);*/
  top: 120px;

  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
